* {
    box-sizing: border-box;
}

body {
    background-color: #fdfdff;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(185, 40, 40);
}

a:visited {
    color: rgb(185, 40, 40);
    text-decoration: none;
}

.hero {
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 80px;
    background: linear-gradient(0.01deg, #342d2d 0.01%, #0b0a0a 95.44%);
}

.container {
    max-width: 945px;
    width: 90%;
    margin: auto;
}

.hero-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 105px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    max-width: 430px;  
}

.hero-subtitle {
    font-size: 24px;
    line-height: 28px;
    color: #FFBB01;
    margin-bottom: 14px;
    display: inline-block;
}
.hero-title {
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    margin: 0;
}

.hero-title span {
    font-weight: normal;
}

.hero-description {
    font-size: 16px;
    line-height: 28px;
    margin-top: 28px;
    margin-bottom: 30px;
    background-color: #1a1515a8;
    padding: 20px;
    border-radius: 10px;
}
.hero-avatar {
    width: 389px;
    height: 389px;
    border-radius: 50%;
    background-color: #ffffff;
    background: url(../img/hero/photo.jpg) no-repeat;
    background-position: center top -80px;
    background-size: cover;
    /* border: 13px solid #ffffff; */
    box-shadow:  22px 22px 11px #1a1515;
}

/* features */

.features {
    background-color: #ffff;
    color: #0b0a0a;
    padding-top: 64px;
}

.section-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin: 0;
    margin-bottom: 84px;
}

.features-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 16px;
}

.features-image {
    margin-bottom: 22px;
    width: 200px;
    text-align: center;
}

.features-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
}

.features-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.features-item {
    flex-basis: 45%;
    margin-bottom: 64px;
}

blockquote {
    margin: 0;
    background: white;
    border-top: 5px solid rgba(0, 0, 0, 0.623);
    border-bottom: 5px solid rgba(0, 0, 0, 0.623);
    color: #3A3C55;
    padding: 30px 30px 30px 90px;
    margin: 15px 0;
    font-weight: 300;
    font-style: italic;
    }

.skills-list {
    list-style-type: square;
}

.skills-list > li {
    margin-bottom: 15px;
}

